@charset "utf-8";
/* CSS Document */
/* ------------ Reset ------------ */
body { font-family: 'Open Sans', sans-serif; color:#96979d; font-size:13px; margin:0px; padding:0p; line-height:normal }
a { color :#96979d; text-decoration:none }
a:hover { text-decoration:none; color:#F25C27 }
h1, h2, h3, h4, h5 { font-weight:normal }
ul, ul li { list-style:none }
ul { padding:0px }
.heading1 { margin-bottom:40px; border-bottom:1px solid #efefef; margin-top:0px; font-size:34px }
.heading2 { font-size:24px; color:#F25C27; text-transform:none; font-weight:normal; padding:0px; text-transform:uppercase; font-family: 'Crete Round', serif; }
.heading1 .subtext { font-size:16px; color:#96979d; text-transform:none; font-weight:normal; padding:0px; }
.heading1 .maintext { font-size:28px; color:#5e626b; text-transform:uppercase; padding: 0px 14px 4px 0; font-family: 'Crete Round', serif; }
h1, h2, h3, h4, h5, h6 { line-height:normal }
h2 { font-size:24px }
.textright { text-align:right }
.mt0 { margin-top:0px!important }
.mb0 { margin-bottom:0px!important }
.mt40 { margin-top:40px!important }
.mt20 { margin-top:20px }
.mt60 { margin-top:60px!important }
.mr10 { margin-right:10px }
.mb20 { margin-bottom:20px }
.mb40 { margin-bottom:40px }
.error404 { font-size:60px; text-align:center; font-family: 'Crete Round', serif; color:#F25C27 }
.centeralign { text-align:center }
.margin-none { margin:0px }
.clear { clear:both }
.displayblock { display:block }
.red { color:#F00 }
.orange { color:#F25C27 }
.footerlinks ul li a, .footerlinks ul li a:hover, .thumbnail .shortlinks a, .thumbnail .shortlinks a:hover, .flex-control-paging li a, .flex-control-paging li a:hover, ul.categorymenu > li > a, ul.categorymenu > li > a:hover, .dropdown-menu li > a, .dropdown-menu li > a:hover, ul.categorymenu > li > div > ul > li > a, ul.categorymenu > li > div > ul > li > a:hover, #topnav ul li a, #topnav ul li a:hover, .thumbnail a.productcart, .thumbnail a:hover.productcart, input, input:focus, select, select:focus, textarea, textarea:focus { -moz-transition: all .2s ease;
-webkit-transition: all .2s ease;
-o-transition: all .2s ease
}
#featured, #latest, #related, #popularbrands, #newslettersignup { margin:0 auto 0 auto }
 input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
color: #96979d;
}
/* ------------ Header ------------ */
.headerstrip { height:72px; background:#f25c27 }
.logo { width:272px; background-color:#fff; text-align:center; height:72px; line-height:72px }
#topnav .navbar-inner { background:none; border:none; box-shadow:none; filter:none }
#topnav ul { padding:20px 0 0 0 }
#topnav ul li { padding:5px 0; }
#topnav ul li a { box-shadow:none; text-shadow:none; color:#fff; font-size:14px; text-transform:uppercase; background-image:url(../img/sprite.png); background-repeat:no-repeat; background-color:transparent; padding:0 0 0 25px; margin-right:22px }
#topnav ul li a.home { background-position:0 0 }
#topnav ul li a:hover.home, #topnav ul li a.active.home { background-position:0 -31px }
#topnav ul li a.myaccount { background-position:0 -62px }
#topnav ul li a:hover.myaccount, #topnav ul li a.active.myaccount { background-position:0 -93px }
#topnav ul li a.shoppingcart { background-position:0 -121px }
#topnav ul li a:hover.shoppingcart, #topnav ul li a.active.shoppingcart { background-position:0 -152px }
#topnav ul li a.checkout { background-position:0 -183px }
#topnav ul li a:hover.checkout, #topnav ul li a.active.checkout { background-position:0 -213px }
.top-search { margin-top:14px; }
.top-search input { width:254px; height:24px; border:4px solid #fd915c; padding:5px; background:#fff url(../img/sprite.png) right -243px no-repeat; }
.headerdetails { padding:40px 0 40px 272px; }
li.dropdown { list-style:none }
/* ------------  Top Cart ------------ */
.headerdetails #main-nav ul > li.topcart { background:#fff; height:45px }
.headerdetails #main-nav ul > li.topcart a { color:#999999; font-size:14px }
.headerdetails .navbar .nav li.topcart .dropdown-toggle .caret, .navbar .nav li.dropdown.open.topcart .caret { border-bottom-color:#999999; border-top-color:#999999 }
.headerdetails ul.topcartopen { font-size:12px }
.headerdetails ul.topcartopen li > table { border-collapse: collapse; width: 100%; margin-bottom: 5px; padding:10px }
.headerdetails ul.topcartopen li > table td {
color: #; vertical-align: top; padding: 5px 10px; border-bottom: 1px dashed #E7E7E7; }
.headerdetails ul.topcartopen li > table .image { width: 1px; }
.headerdetails ul.topcartopen li > table .image img { text-align: left; }
.headerdetails ul.topcartopen li > table .name small { color: #999999; }
.headerdetails ul.topcartopen li > table .quantity { text-align: right; }
.headerdetails ul.topcartopen li > table td.total { text-align: right; }
.headerdetails ul.topcartopen li > table .remove { text-align: right; }
.headerdetails ul.topcartopen li > table .remove img { cursor: pointer; }
.headerdetails #header #cart .mini-cart-total > table { border-collapse: collapse; padding: 5px; float: right; clear: left; margin-bottom: 5px; }
.headerdetails ul.topcartopen li > table a { padding:0px; }
.headerdetails .shoppingcarttop { position:absolute; top:0; right:250px }
.headerdetails nav.subnav select { display: none; }
.headerdetails ul.nav.language li.dropdown { border:1px solid #f2f2f2; padding:7px 20px; display:inline-block; margin-right:15px; text-transform:uppercase }
.headerdetails ul.nav.topcart li.dropdown { border:1px solid #f2f2f2; display:inline-block; text-transform:uppercase }
.headerdetails .topcall { font-size:16px; background:#fff url(../img/sprite.png) left -287px no-repeat; line-height: 31px; padding: 0 0 0 41px; margin-left:40px }
.headerdetails li.carticon.dropdown { background:url(../img/sprite.png) no-repeat 10px -328px; padding:1px 10px 4px 45px}
.buttonwrap { padding:10px; margin:5px 10px 10px 0 }
/* ------------ Category Menu ------------ */
/* ------------ Category Menu ------------ */
#categorymenu { padding:7px 0 7px 0; background:#f5f5f5; }
#categorymenu:after { clear:both; content:"" }
#categorymenu select { display:none }
ul.categorymenu { margin:0px auto }
ul.categorymenu > li { position:relative; margin: 0; border-right:1px solid #E7E7E7 }
ul.categorymenu > li a.home span { text-indent:-9999px; }
ul.categorymenu > li:last-child { border:none }
ul.categorymenu > li > a { text-decoration: none; display: block; z-index: 6; position: relative; color:#4b5b58!Important; text-transform:uppercase; font-size:14px }
ul.categorymenu > li:hover > a, ul.categorymenu > li > a.active { color:#fff!important; text-shadow:none; background-color:#F25C27 }
ul.categorymenu > li > div { display: block; padding:15px; position: absolute; top: 97%; left: 0; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
 *border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu > li > div:before { right: auto; left: 12px; border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; border-right: 7px solid transparent; content: ""; display: inline-block; position: absolute; top: -5px; }
ul.categorymenu > li > div:after { right: auto; left: 13px; border-bottom: 6px solid #FFFFFF; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; display: inline-block; position: absolute; top: -4px; }
ul.categorymenu > li:hover > div { display: table; width:100%; vertical-align:top }
ul.categorymenu > li > div > ul { display: table-cell; vertical-align:top; }
ul.categorymenu > li ul + ul { padding-left: 20px; }
ul.categorymenu > li ul > li { display:block; float:left; width:100%; border-bottom:1px dashed #dddddd }
ul.categorymenu > li > div > ul.arrow li a { padding:8px 8px 8px 8px; display:block }
ul.categorymenu > li ul > li > a { text-decoration: none; display: block; white-space: nowrap; min-width: 150px; padding:8px; }
ul.categorymenu > li > div > ul li:hover a { background-color: #F25C27; color:#fff; text-shadow:none }
ul.categorymenu > li > div > ul > li > a { color: #999999; }
ul.categorymenu > li ul > li img { margin:3px; max-width:none }
.breadcrumb { margin-bottom:30px; background:none; border:1px solid #efefef }
.well { background:none; border:1px solid #efefef }
/* ------------ third level menu ------------ */
ul.categorymenu > li > div > ul > li { position:relative }
ul.categorymenu > li > div > ul > li > div { display: block; padding:15px; position: absolute; top: 10%; left: 90%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu li div ul { margin:0px; }
ul.categorymenu > li > div > ul > li > div ul li a { background:#fff }
ul.categorymenu > li > div > ul > li:hover > div { display: inline-block; width:100%; vertical-align:top; padding:20px 30px 20px 20px }
ul.categorymenu > li > div > ul li:hover a { background-color: #fff; color:#999999; }
ul.categorymenu > li > div > ul li:hover > a { background-color: #F25C27; color:#fff; }
ul.categorymenu > li > div > ul > li > div ul li > div { display:none; display: block; padding:15px; position: absolute; top: 10%; left: 90%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu > li > div > ul > li > div ul li:hover > div { display: inline-block; width:100%; vertical-align:top; }
ul.categorymenu > li > div > ul > li > div ul li > div { display:none; display: block; padding:15px; position: absolute; top: 10%; left: 90%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu > li > div > ul > li > div ul li:hover > div { display: table; width:100%; vertical-align:top; }
/* ------------ third level menu ------------ */
ul.categorymenu > li > div > ul > li { position:relative }
ul.categorymenu > li > div > ul > li > div { display: block; padding:15px; position: absolute; top: -10%; left: 100%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu li div ul { margin:0px; }
ul.categorymenu > li > div > ul > li > div ul li a { background:#fff }
ul.categorymenu > li > div > ul > li:hover > div { display:inline-block; width:100%; vertical-align:top; padding:20px 30px 20px 20px }
ul.categorymenu > li > div > ul li:hover a { background-color: #fff; color:#999999; }
ul.categorymenu > li > div > ul li:hover > a { background-color: #f25c27; color:#fff; }
ul.categorymenu > li > div > ul > li > div ul li > div { display:none; display: block; padding:15px; position: absolute; top: 10%; left: 90%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu > li > div > ul > li > div ul li:hover > div { display: table; width:100%; vertical-align:top; }
ul.categorymenu > li > div > ul > li > div ul li > div { display:none; display: block; padding:15px; position: absolute; top: 10%; left: 90%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu > li > div > ul > li > div ul li:hover > div { display: table; width:100%; vertical-align:top; }
/* ------------ third level end ------------ */

/* ------------ otherddetails ------------ */
.otherddetails { border:1px solid #dddddd; margin:60px auto 0 auto }
.otherddetails .otherddetailspart { background:url(../img/otherseperate.png) no-repeat right center; width:25%; float:left; display:inline-block }
.otherddetails .otherddetailspart:last-child { background:none }
.otherddetails .otherddetailspart .innerclass { padding:25px 0px 25px 90px; background:url(../img/otherdetailicon.png) no-repeat 10px top; }
.otherddetails .otherddetailspart .innerclass h2 { font-size:20px; color:#5e626b; line-height:normal; margin:0px }
.otherddetails .otherddetailspart .innerclass.free { background-position: 20px 29px }
.otherddetails .otherddetailspart .innerclass.payment { background-position: 20px -103px }
.otherddetails .otherddetailspart .innerclass.shipping { background-position: 20px -240px }
.otherddetails .otherddetailspart .innerclass.choice { background-position: 20px -360px }
/* ------------ Small banners ------------ */
.smbanner { margin:20px auto 0 auto; }
.smbanner .col-lg-3 a { border:1px solid #ddd; }
/* ------------ nesletter ------------ */
#newslettersignup input { height:32px }
#newslettersignup .pull-right { margin-top:15px }
#newslettersignup .newsletter { padding: 8px 0 0 80px; background:url(../img/otherdetailicon.png) no-repeat left -500px; height:80px }
#newslettersignup .newsletter2 { padding:0; background:none; height:80px }
#newslettersignup .newsletter h2 { font-size:20px; color:#5e626b; line-height:normal; margin:0px }
/* ------------ Featured Proudcts ------------ */
#categorymenu { margin:40px 0 50px 0 }
#featured:after, #latest:after, #related:after, #category:after, #popularbrands:after, #newslettersignup .container:after { clear: both; visibility: hidden; display: block; content: ""; clear: both; height: 0; ; }
.thumbnails .prdocutname { font-size:16px; color:#5e626b; text-transform:uppercase; text-align:center; margin:0 0 10px 0; display:block }
.thumbnails.list .thumbnail .prdocutname { font-size:16px; color:#5e626b; text-transform:uppercase; text-align:left; margin:0 0 10px 0; display:block }
.thumbnails.list > li { margin-bottom:40px; padding-bottom:40px; border-bottom:1px solid #ccc }
.thumbnails.list .productdiscrption { margin:10px 0 25px 0 }
.thumbnails.list .thumbnail .shortlinks { display:block; width:auto; position:static; text-align:left; margin:10px 0 25px 0 }
.thumbnails.list .pricetag { margin-left:-15px }
.thumbnail .offer { position:absolute; top:10px; background:url(../img/offer.png) no-repeat 0 0; height:45px; width:68px; float:left; overflow:hidden; display:block; text-indent:9999px }
.thumbnail .sale { position:absolute; top:10px; left:-2px; background:url(../img/sale.png) no-repeat 0 0; height:45px; width:68px; float:left; overflow:hidden; display:block; text-indent:9999px }
.thumbnail .new { position:absolute; top:10px; left:-2px; background:url(../img/new.png) no-repeat 0 0; height:45px; width:68px; float:left; overflow:hidden; display:block; text-indent:9999px }
.thumbnail .offer, .thumbnail .sale, .thumbnail .new { z-index:999 }
.thumbnail .pricetag { width:221px; height:37px; background:url(../img/pricetag.png) no-repeat right 0; margin-top:8px; position:relative; padding:9px 9px 9px 30px; margin-bottom:20px }
.thumbnail .pricetag .spiral { position:absolute; top:-19px; left:10px; background:url(../img/spiral.png) no-repeat right 0; height:50px; width:35px }
.thumbnail a.productcart { background: #f25c27 url(../img/prodcutcart.png) right 7px no-repeat; color:#fff; float:right; padding:8px 27px 8px 8px; font-size: 8px; }
.thumbnail a.productcart:hover { background: #db420e url(../img/prodcutcart.png) right 7px no-repeat; }
.thumbnail .shortlinks { background:#fff; position:absolute; left:0; top:60%; width:100%; text-align:center; padding:5px 0; display:none }
.thumbnail .shortlinks a { font-size:12px; padding:5px 5px 0 25px; background:url(../img/sprite.png) 0 0 no-repeat; }
.thumbnail .shortlinks a.details { background-position:0 -384px }
.thumbnail .shortlinks a.wishlist { background-position:0 -423px }
.thumbnail .shortlinks a.compare { background-position:0 -462px }
.thumbnail .price { float:right; margin-right:19px; text-align:right }
.thumbnail .price .pricenew { font-size:16px; color:#5e626b; font-weight:bold }
.thumbnail .price .priceold { font-size:13px; color:#5e626b; text-decoration:line-through; color:#96979d; }
#featured .thumbnails li:hover .thumbnail img, #latest .thumbnails li:hover .thumbnail img, #related .thumbnails li:hover .thumbnail img, #category .thumbnails li:hover .thumbnail img, .thumbnails.list li:hover .thumbnail img { transform: scale(1.2, 1.2); -ms-transform: scale(1.2, 1.2); /* IE 9 */ -webkit-transform: scale(1.2, 1.2); /* Safari and Chrome */ -o-transform: scale(1.2, 1.2); /* Opera */ -moz-transform: scale(1.2, 1.2); /* Firefox */ transition: all 0.8s; -ms-transition: all 0.8s; /* IE 9 */ -moz-transition: all 0.8s; /* Firefox 4 */ -webkit-transition: all 0.8s; /* Safari and Chrome */ -o-transition: all 0.8s; /* Opera */ }
#featured .thumbnails li .thumbnail, #latest .thumbnails li .thumbnail, #related .thumbnails li .thumbnail, #category .thumbnails li .thumbnail, .thumbnails.list li .thumbnail { overflow:hidden }
#featured .thumbnails li .thumbnail img, #latest .thumbnails li .thumbnail img, #related .thumbnails li .thumbnail img, #category .thumbnails li .thumbnail img, .thumbnails.list li .thumbnail img { transition: all 0.8s; -ms-transition: all 0.8s; /* IE 9 */ -moz-transition: all 0.8s; /* Firefox 4 */ -webkit-transition: all 0.8s; /* Safari and Chrome */ -o-transition: all 0.8s; /* Opera */ }
.thumbnails.list li:hover .thumbnail img { transform:none!important; -ms-transform: none!important; -webkit-transform: none!important; -o-transform: none!important;/* Opera */ -moz-transform:none!important; transition: none!important; -moz-transition: none!important; -webkit-transition: none!important; -o-transition: none!important; }
/*Brand*/
#popularbrands { position:relative; padding:0 0 20px 0 }
.brandcarousalrelative { position:relative }
#popularbrands ul#brandcarousal { margin: 0; padding: 0; list-style: none; display: block; }
#popularbrands ul#brandcarousal li { text-align: center; border: 1px solid #ddd; padding: 10px 5px; margin: 6px; display: block; float: left; }
#popularbrands.responsive { width: auto; margin-left: 0; }
.clearfix { float: none; clear: both; }
#popularbrands ul#brandcarousal .prev { float: left; margin-left: 10px; }
#popularbrands ul#brandcarousal .next { float: right; margin-right: 10px; }
#popularbrands ul#brandcarousal .pager { float: left; width: 300px; text-align: center; }
#popularbrands ul#brandcarousal .pager a { margin: 0 5px; text-decoration: none; }
#popularbrands ul#brandcarousal .pager a.selected { text-decoration: underline; }
#popularbrands ul#brandcarousal .timer { background-color: #999; height: 6px; width: 0px; }
#popularbrands #prev { background:url(../img/carousalarrow.png) no-repeat scroll 8px center #F25C27; position:absolute; font-size:24px; text-indent:-9999px; display:block; overflow:hidden; height:25px; width:25px; left:0; top:30px }
#popularbrands #next { background:url(../img/carousalarrow.png) no-repeat scroll -18px center #F25C27; position:absolute; font-size:24px; text-indent:-9999px; display:block; overflow:hidden; height:25px; width:25px; right:0; top:30px }
.timer { background-color: #999; height: 6px; width: 0px; }
#musthave { width:300px!important; }
/*Producct page*/
h1.pagetitle { background:#f9f9f9; padding:10px; color:#fff; font-size:24px; margin:0 0 40px 0; color:#F25C27 }
#product { margin-bottom:20px }
.thumbnails.mainimage li.col-lg-5 { margin-bottom:0px; }
.thumbnails.mainimage li.col-lg-4 { margin-bottom:0px; }
ul.productinfo { margin:0px; padding:0px; list-style:none }
ul.productinfo li { padding:5px 0; list-style:none; display:block }
ul.productinfo li .productinfoleft { width:160px; float:left; font-weight:bold }
.productformbutton { border-bottom:1px solid #E7E7E7; width:100%; float:left; display:block; padding-bottom:25px }
.form-horizontal.productform .control-label { text-align:left!important; }
.productaddtocart { margin:10px 10px 10px 160px; float:left!important }
.rating { margin:25px 30px 40px 0; border-top: 1px solid #E7E7E7; border-radius: 4px 4px 4px 4px; padding:15px 0 15px 0; border-bottom: 1px solid #E7E7E7; }
.options { margin:5px 0 12px 0 }
ul.rate { margin:0px }
ul.rate li { height:20px; width:20px; background: url(../img/rate.png) no-repeat scroll 0 0 transparent; display:inline-block; margin-right:5px }
ul.rate li.on { background-position:left top }
ul.rate li.off { background-position:left -24px }
.mainimage li.producthtumb { display:inline-block; width:94px; margin-left:25px }
.mainimage li.producthtumb img { cursor:pointer }
.productright { position:relative }
.productprice .price { margin:0 auto; height:28px; line-height:28px; margin-top:11px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; color:#333; text-align:center; text-transform:uppercase; font-size:16px; color:#f25c27; width:80px }
.productprice .rate { margin:25px 0 0 0 }
.productright .productpriceround { display: block; cursor: pointer; -webkit-border-radius: 100px; -moz-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); margin:0 auto; padding:10px; float:right; border: 1px solid #E7E7E7; }
.productprice { margin:0 0 0 0; clear:both }
.productpageprice { width:250px; height:58px; background:url(../img/pricetagproduct.png) no-repeat right 0; position:relative; padding:9px 0 9px 20px; margin:45px 0 10px -28px; font-size:36px; text-align:center; line-height:44px; color:#333 }
.productpageprice .spiral { position:absolute; top:-19px; left:25px; background:url(../img/spiral.png) no-repeat right 0; height:50px; width:35px }
.productpageoldprice { font-size:24px; text-decoration:line-through; ; margin-left:0px }
ul.productpagecart { margin-top:20px; margin-left:0px; display:inline-block; }
ul.productpagecart li { display:inline-block; background: url(../img/productpageicon.png) no-repeat 0 0; margin-right:10px; height:66px }
.productpagecart a { background:#F25C27 url(../img/productpageicon.png) no-repeat 0 0; color:#fff; padding:15px 15px 15px 60px; font-size:18px; }
.productpagecart li a.cart { background-position:10px 12px }
.productpagecart li a.wish { background-position:10px -51px }
.productpagecart li a.comare { background-position:10px -126px }
.productpagecart li a:hover { background-color: #d8420e }
.selectsize { width:170px; float:left; margin-right:10px }
.selectqty { width:100px; float:left; margin-right:10px }
.quantitybox { background:#fff; border: 1px solid #cccc; padding:15px 15px 8px 0px; display:block; margin:30px 0 20px 0; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; }
.quantitybox:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.productlinks { margin:6px 0 0 10px; float:left }
.productlinks a { margin-right:10px; background: url(../img/productpagelinkicon.png) no-repeat 0 0; padding:0 0 0 25px; color:#4B5B58; line-height:24px; font-size:14px }
.productlinks a.cartadd { background-position:0 0 }
.productlinks a.compare { background-position:0 -49px }
h1.productname { color:#f25c27; font-size:26px; margin:0 0 20px 0; background:none; line-height:auto!important; }
.productright a.addtocart { background: url(../img/addtocart.png) no-repeat scroll 0 0 transparent; color: #FFFFFF; font-size: 20px; font-weight: bold; height: 34px; padding: 58px 0 0; text-align: center; width: 159px; margin-top:20px; display:block; cursor:pointer; margin-left:2px }
.productright a:hover.addtocart { background-position:0 -111px; }
.nav-tabs { margin:0px }
.productdesc { margin:22px 0 0 0 }
.productdesc .nav-tabs li a { font-size:13px; text-shadow:1px 1px 1px #fff; color:#999999 }
.productdesc .nav-tabs li a:hover { color:#333 }
.productdesc .nav-tabs li.active { border-bottom:1px solid #fff; }
.productdesc .nav-tabs li.active a { color:#000; }
.productdesc #myTab.nav-tabs li a { margin : 0px!important; }
.tab-content { background-color: #FFFFFF; border: 1px solid #E7E7E7; border-radius: 3px 3px 3px 3px; border-top:none; padding:15px }
ul.reveiw { margin:0px; padding:0px }
ul.reveiw > li { border-bottom:1px solid #E7E7E7; margin-bottom:22px; padding:5px 0 10px 0 }
ul.reveiw li { list-style:none }
ul.reveiw li .title { font-size:20px; }
ul.reveiw li .date { float:right; font-size:14px; }
ul.reveiw ul.rate { margin:10px 0 }
.cloud-zoom-lens { border: 1px solid #fff; 	/* Set this to minus the border thickness. */ background-color:#fff; cursor:move; }
.cloud-zoom-title { font-family:Arial, Helvetica, sans-serif; position:absolute !important; background-color:#999999; color:#fff; width:100%; text-align:center; font-size:10px; top:0px; }
#musthave { margin:0px }
/* This is the zoom window. */
.cloud-zoom-big { border:2px solid #fff; overflow:hidden; }
/* This is the loading message. */
.cloud-zoom-loading { color:white; background:#222; padding:3px; border:1px solid #999999; }
/* cart */
.cart-info table { width: 100%; margin-bottom: 20px; border-collapse: collapse; border-top: 1px solid #E7E7E7; border-left: 1px solid #E7E7E7; border-right: 1px solid #E7E7E7; background-color:#fff; }
.cart-info table tr { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; }
.cart-info table tr:hover { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; }
.cart-info td, .cart-info th { padding: 15px; }
.cart-info th { padding:10px }
.cart-info th { font-weight: bold; background-color: #eeeeee; border-bottom: 1px solid #E7E7E7; }
.cart-info th.quantity, .cart-info td.quantity { text-align: left; }
.cart-info th .price, .cart-info th .total, .cart-info tbody .price, .cart-info tbody .total { text-align: right; }
.cart-info th .quantity a { margin-top:-5px }
.cart-info tbody td { vertical-align: top; border-bottom: 1px solid #E7E7E7; }
.cart-info tbody .remove { vertical-align: middle; }
.cart-info tbody .remove, .cart-info tbody .image { text-align: center; }
.cart-info tbody .name, .cart-info tbody .model { text-align: left; }
.cart-info tbody span.stock { color: #F00; font-weight: bold; }
.cart-module .cart-heading { border: 1px solid #E7E7E7; padding: 8px 8px 8px 22px; font-weight: bold; font-size: 12px; margin-bottom: 15px; cursor: pointer; background: #ffffff url('../image/arrow-right.png') 10px 50% no-repeat; }
.cart-module .active { background: #ffffff url('../image/arrow-down.png') 7px 50% no-repeat; }
.cart-module .cart-content { padding: 0px 0px 15px 0px; display: none; overflow: auto; }
.cart-module > div { display: none; }
.cart-total { border-top: 1px solid #E7E7E7; overflow: auto; padding-top: 8px; margin-bottom: 15px; }
.cart-total table { float: right; }
.cart-total td { padding: 3px; text-align: right; }
.cartoptionbox { background:#fff; padding:15px; border:1px solid #ddd; margin-bottom:40px }
ul.total { font-size:16px; margin-top:5px; margin-right:10px }
ul.total li { padding:10px 0 }
ul.total li span.extra { width:150px; float:left; text-align:right; padding-right:20px }
.totalamout { font-size:22px; color:#f25c27 }
. /* login */
.loginbox {
padding:5px;
}
/* register */
.registerbox { padding:20px 15px 0 15px; margin-bottom:20px }
.myaccountbox { padding:20px 15px 15px 15px; margin-bottom:20px }
.myaccountbox ul { padding:0px; margin:0px }
.myaccountbox ul li { display:block; border-bottom:1px dashed #E7E7E7 }
.myaccountbox ul li:last-child { border:none }
.myaccountbox ul li a { display:block; padding:8px 5px 8px 30px; background: url("../img/arrowcategory.png") no-repeat scroll 8px center transparent; color:#999999 }
.myaccountbox ul li a:hover { color:#f25c27 }
/* Checkout */
.checkoutsteptitle { padding:8px 10px; background:#E7E7E7 url("../img/down.png") no-repeat right -21px; margin:5px 0 10px 0; color:#495c58; font-size:16px; border-bottom:1px dashed #E7E7E7; cursor:pointer }
.checkoutsteptitle.down { background-position: right 10px }
.checkoutsteptitle a.modify { float:right; margin-right:30px; font-size:13px; line-height:16px }
.checkoutstep { display:none; margin:15px 0 30px 0; background:#fff; padding:15px; }
.checkoutstep textarea { width:95% }
.checkoutstep:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.newcustomer, .returncustomer { width:45%; float:left; border:1px solid #E7E7E7; padding:15px 20px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; }
.newcustomer { margin-right:5%; }
.privacy { float:right; margin:10px 10px 0 0 }
/* javascripts */
.accrodian-trigger { padding:8px 8px 8px 8px; display:block; margin:5px 0; border:1px solid #D6D4CB; cursor:pointer }
.accrodian-trigger, .togglehandle { background: url("../img/accrodianicon.png") no-repeat scroll right 5px transparent; }
.togglehandle { padding:8px 8px 8px 8px; display:block; margin:5px 0; border:1px solid #D6D4CB; cursor:pointer }
/* Blog */
.blogdetail { margin-bottom:30px }
#myTab { margin-top:25px }
.tab-content.sideblog ul li { margin-bottom:20px; padding:5px 5px 10px 0; list-style:none; border-bottom:1px dashed #D6D4CB }
.tab-content.sideblog ul li:last-child { border:none }
.tab-content.sideblog ul li:after { content:""; clear:both; display:block }
.author { margin:5px 0 10px 0; }
.author a { color:#f25c27; }
.tab-content ul { margin:0px }
.tab-content .blogtitle { font-size:15px; color:#F25C27; }
.tab-content .blogtitle:hover { color:#333 }
.sideblogimage { float:left; margin:0 10px 10px 0; padding:5px; border:1px solid #ddd }
.blogicons { margin:20px 0 10px 0; clear:both; }
.blogdetail .blogicons { margin:-10px 0 30px 0 }
.tab-content .blogicons { margin:10px 0 10px 0 }
.blogicons:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
ul.tags { margin:20px 0px 0; }
.tags li { display:inline-block; margin:5px 3px }
ul.tags li a { display:inline-block; padding:3px 10px; background:#E7E7E7; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; color:#999999 }
ul.tags li a:hover { background:#f25c27; color:#fff }
span.viewfancypopup { background: url("../img/view.png") no-repeat scroll center center transparent; text-align:center; width:100%; display:none; height:75px; position:absolute; bottom:50%; margin-bottom:-38px }
a.fancyboxpopup { position:relative; display:block }
a.fancyboxpopup:hover span.viewfancypopup { display:block; position:absolute; z-index:999; margin-top:-55% }
#comments .blogtitle { font-size:14px }
.avtar { margin:0 10px 10px 0 }
.blogautor { margin-bottom:30px; padding-bottom:20px }
ul.comments li ul.comments { margin-top:40px }
ul.comments li { clear:both; margin-bottom:40px }
.blogautor .avtar { height:80px; width:120px; float:left }
.comments .avtar { height:60px; width:60px; float:left }
.commentdetail { margin-left:150px }
ul.comments .commentdetail { margin-left:80px }
.usercomment { color:#F25C27; display:block; margin:5px 0 }
.bloggridtitle { font-size:18px; color:#F25C27; margin:5px 0 10px 0; display:block }
/* Sidebar */
.sidewidt { margin-bottom:40px }
/* Categories */
.categorytitle { margin:0 0 35px 0 }
ul.categories { background: none repeat scroll 0 0 #FFFFFF; border-radius: 4px 4px 4px 4px; padding-top:10px; padding-bottom:10px }
ul.categories li { display:block; border-bottom:1px dashed #E7E7E7 }
ul.categories li:last-child { border:none }
ul.categories li a { display:block; padding:11px 5px 11px 30px; background: url("../img/arrowcategory.png") no-repeat scroll 10px center transparent; color:#999999 }
ul.categories li a.active { color:#f25c27 }
ul.categories li a:hover { background-image: url("../img/arrowcategory.png") no-repeat scroll 10px center transparent; color:#333 }
/* Categories dropdown */
ul.categories li { position:relative }
ul.categories li > ul { display:none; position:absolute; top:80%; left:5%; z-index:10; background:#fff; padding:10px; border:1px solid #E7E7E7; }
ul.categories li:hover > ul { display:block }
ul.categories li ul li, ul.categories li ul li a { display:block; }
ul.categories li { position:relative }
ul.categories li ul li ul { display:none; position:absolute; top:80%; left:5%; z-index:10; background:#fff; padding:10px; border:1px solid #E7E7E7; }
ul.categories li ul li:hover ul { display:block }
ul.categories li ul li ul li, ul.categories li li ul ul li a { display:block; }
/* Bestsellter */
ul.bestseller { background: none repeat scroll 0 0 #FFFFFF; border-radius: 4px 4px 4px 4px; padding-top:10px; padding-bottom:10px; margin:0px }
ul.bestseller li a.productname { display:block; color:#F25C27; font-size:15px }
ul.bestseller li a:Hover.productname { color:#333 }
ul.bestseller li img { float:left; margin:0px 5px 10px 0; padding:5px; border:1px solid #E7E7E7; background:#fff }
ul.bestseller li span.price { display:block; font-size:16px; }
ul.bestseller li span.procategory { display:block; color:#333 }
ul.bestseller li { display:block; border-bottom:1px dashed #E7E7E7; padding:16px 10px 16px 10px; }
ul.bestseller li:last-child { border:none }
ul.bestseller li:hover { }
.sidebanner { background: none repeat scroll 0 0 #FFFFFF; border-radius: 4px 4px 4px 4px; display: block; line-height: 1; position: relative; margin-top:40px }
.sidebanner img { display:block; margin: 0 auto }
/* Latest Blog */
.thumbnail .newprice { background:#6A7274; display:block; font-size:18px; line-height:22px; color:#fff; padding:2px 5px }
#latestblog p { line-height:20px }
#latestblog .blogtitle { font-size:22px; color:#f25c27; line-height:30px; margin-bottom:5px; display:block }
#latestblog .blogtitle:hover { color:#f25c27 }
.latestblogbutton { display:block; clear:both }
.listblcok { position:relative; margin-bottom:30px; padding-bottom:30px; border-bottom:1px solid #E7E7E7 }
/* Pagination*/
.pagination { margin:0 }
.pagination ul { background:#fff }
.pagination a:hover, .pagination .active a { background-color: #fff; color: #f25c27; }
/* sorting*/
.sorting { overflow:auto; padding:10px; margin-bottom:40px; margin-top:22px }
.sorting form { margin:0px }
/* listview*/
.list { display:none }
.list .thumbnail .links { float:right; margin-top:78px }
.list .details { margin:10px; line-height:18px }
/* Flicker */
#flickr { margin-top:25px }
.thumbs { margin: 0; padding: 0; overflow: hidden; }
.thumbs li { list-style: none; display:inline-block; }
.thumbs li a { display:inline-block; float:left; margin: 4px; border:1px solid #999 }
.thumbs li img { height:50px; width:50px }
.thumbs li a img { border: none; }
#fb-root, #fb-root > div { overflow:hidden }
/* Contact */
label.error { color: #f25c27; float: none; display:inline-block }
/* typo */
ul.listoption1, ul.listoption2, ul.listoption3, ul.listoption4, ul.listoption5, ul.listoption6, ul.foodicon, ul.blogcaterg { margin:0px; padding:0px; list-style:none }
ul.listoption1 li, ul.listoption2 li, ul.listoption3 li, ul.listoption4 li, ul.listoption5 li, ul.listoption6 li { display:block; padding:5px 0 5px 20px }
ul.listoption1 li { background: url("../img/list1.png") no-repeat scroll 0 5px; padding:5px 0 5px 25px }
ul.listoption2 li { background: url("../img/list2.png") no-repeat scroll 0 5px; }
ul.listoption3 li { background: url("../img/list3.png") no-repeat scroll 0 9px; padding:5px 0 5px 15px }
ul.listoption4 li { background: url("../img/list4.png") no-repeat scroll 0 10px; }
ul.listoption5 li { background: url("../img/list5.png") no-repeat scroll 0 10px; padding:5px 0 5px 15px }
ul.listoption6 li { background: url("../img/list6.png") no-repeat scroll 0 10px; }
/* messages */

.errormsg, .alertmsg, .successmsg, .infomsg, .infomsg2 { background: url("../img/messages.png") no-repeat scroll 8px 0 transparent; display: block; margin: 18px 0; padding: 15px 8px 15px 50px; position: relative; color:#666666!Important; }
.errormsg { background-color: #FCCAC1; background-position: 8px -69px; border: 1px solid #E18B7C; }
.alertmsg { background-color: #FFE9AD; background-position: 8px -214px; border: 1px solid #EAC572; }
.successmsg { background-color: #EFFEB9; background-position: 8px -144px; border: 1px solid #C1D779; }
.infomsg { background-color: #DEEEFA; background-position: 8px 5px; border: 1px solid #AFD3F2; }
.infomsg2 { background-color: #FFFFFF; background-position: 8px 5px; border: 1px solid #AFD3F2; }
a.clostalert { background: url("../img/messages.png") no-repeat scroll 0 -310px transparent; cursor: pointer; height: 15px; overflow: hidden; position: absolute; right: 5px; text-indent: 9999px; top: 5px; width: 15px; }
/* Footer */
#footer { margin-top:40px }
#footer ul { margin:0px; padding:0px; list-style:none }
#footer ul li { list-style:none }
#footer .info ul li:last-child { background:none }
.contact ul li { background:url(../img/sprite.png) no-repeat 0 0; padding:0px 0 0 32px; height:53px }
.contact ul li.phone { background-position:0 -555px; }
.contact ul li.mobile { background-position:0 -502px }
.contact ul li.email { background-position:0 -613px }
.footerlinks { padding:22px 0 18px; background:#3a3a3a; color:#969ba4 }
.footerlinks ul li a { color:#969ba4; padding:5px 10px 5px 10px; }
.footerlinks ul li a:hover { color:#f9f9f9 }
.footerlinks .info { float:left; margin-top:5px }
.footerlinks ul li { display:inline-block }
.footerlinks ul li:first-child a { padding-left:0px }
/* footer twitter  */
#twitter ul { margin-bottom:20px }
#twitter ul li { margin-bottom:15px; padding:0px!important; display:block; clear:both }
#twitter ul li a { font-style:italic; color:#f25c27 }
a.tweet_avatar { margin:5px 5px 5px 0; float:left }
.tweet_list .tweet_avatar { float: left; }
.tweet_time { clear:both }
/* footersocial  */
.footersocial { padding:30px 0 40px; background:#FDEECE; color:#5E626B }
.footersocial h2 { margin-bottom:30px; font-size:18px; color:#5e626b; text-transform:uppercase; border-bottom:1px dashed #999; padding: 0 0 5px 0 }
#footersocial { float:right; margin-right:-12px }
#footersocial a { background:url(../img/footericon.png) no-repeat; height:30px; width:30px; margin-right:11px; text-indent:-9999px; overflow:hidden; display:inline-block; margin-bottom:5px; -moz-transition: all .2s ease;
-webkit-transition: all .2s ease;
-o-transition: all .2s ease
}
#footersocial a:hover { -moz-transition: all .2s ease;
-webkit-transition: all .2s ease;
-o-transition: all .2s ease
}
#footersocial a.facebook { background-position:0 -6px; }
#footersocial a.facebook:hover { background-position:0 -47px; }
#footersocial a.twitter { background-position:-40px -6px }
#footersocial a.twitter:hover { background-position:-40px -47px }
#footersocial a.linkedin { background-position:-80px -6px }
#footersocial a.linkedin:hover { background-position:-80px -47px }
#footersocial a.blooger { background-position:-118px -6px }
#footersocial a.blooger:hover { background-position:-118px -47px }
#footersocial a.rss { background-position:-155px -6px }
#footersocial a.rss:hover { background-position:-155px -47px }
#footersocial a.dig { background-position:-194px -6px }
#footersocial a.dig:hover { background-position:-194px -47px }
#footersocial a.googleplus { background-position:-234px -6px }
#footersocial a.googleplus:hover { background-position:-234px -47px }
#footersocial a.skype { background-position:-271px -6px }
#footersocial a.skype:hover { background-position:-271px -47px }
#footersocial a.flickr { background-position:-309px -6px }
#footersocial a.flickr:hover { background-position:-309px -47px }
/*Copyright Bottom*/
.copyrightbottom { background:#303030; padding:15px 0; color:#969ba4 }
#gotop { position:fixed; bottom:2px; right:5px; height:58px; width:58px; background:url(../img/gotop.png) no-repeat 0 0; display:block; text-indent:-9999px; overflow:hidden }
.the-icons li { display:inline-block; width:22%; padding:10px 0 }
 @media (max-width: 1200px) {
.headerdetails {
padding:40px 0 40px 0px!important;
}
#topnav ul li a {
font-size:12px;
margin-right:8px
}
.top-search input {
width:180px
}
.thumbnails li:hover .thumbnail img {
transform:none;
-ms-transform: none;
-webkit-transform: none;
-o-transform: none;/* Opera */
-moz-transform:none;
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}
.thumbnail {
text-align:center
}
}
 @media (min-width: 768px) and (max-width: 1200px) {
 .thumbnail .pricetag {
background:none;
width:auto;
height:aut;
padding:0px;
margin:10px 0
}
 .thumbnail .pricetag .spiral {
display:none
}
 .thumbnail .price {
text-align:center;
width:100%;
 margin:10px 0 0 0
}
 .thumbnail a.productcart {
float:none
}
 .thumbnail .shortlinks {
top:30%
}
}
 @media (max-width: 979px) {
 #categorymenu {
margin:0px 0 10px 0
}
 #categorymenu select {
display:block
}
 #categorymenu {
background:none
}
 .container {
padding:0px
}
 nav.subnav {
width:auto;
float:none
}
 nav.subnav select {
display: inline-block;
height:auto;
width:100%;
float:none
}
 nav.subnav {
background:none;
border:none
}
 nav.subnav ul {
display:none
}
#topnav {
width:330px;
}
#topnav ul {
padding:6px 0 0 0
}
.headerstrip .pull-right {
float:none;
text-align:center
}
.headerstrip .pull-right .search-query {
width:90%;
margin-top:15px
}
.headerdetails {
margin:0px;
padding:20px 0 0 0!important
}
.headerdetails .nav.pull-left {
float:none
}
 .headerdetails .pull-left {
float:none;
text-align:center
}
.headerdetails .pull-right {
float:none;
text-align:center
}
.headerstrip {
height:auto
}
.headerdetails .topcall {
position:absolute;
right:50px;
top:5px;
background:url(../img/sprite.png) left -659px no-repeat;
color:#fff
}
.thumbnail .pricetag {
margin:0 auto
}
.otherddetails .otherddetailspart .innerclass h2 {
font-size:18px
}
 #featured .thumbnails li:hover .thumbnail img, #latest .thumbnails li:hover .thumbnail img, #related .thumbnails li:hover .thumbnail img, #category .thumbnails li:hover .thumbnail img, .thumbnails.list li:hover .thumbnail img {
transform: none;
-ms-transform: none; /* IE 9 */
-webkit-transform: none; /* Safari and Chrome */
-o-transform: none; /* Opera */
-moz-transform:none; /* Firefox */
transition: all 0.8s;
-ms-transition: all 0.8s; /* IE 9 */
-moz-transition: all 0.8s; /* Firefox 4 */
-webkit-transition: all 0.8s; /* Safari and Chrome */
-o-transition: all 0.8s; /* Opera */
}
.newcustomer, .returncustomer {
width:85%;
margin-bottom:10px
}
.checkoutstep .col-lg-4 {
width:auto
}
.heading1 {
font-size:22px
}
.heading2 {
font-size:18px;
}
.heading1 .subtext {
font-size:15px;
}
.heading1 .maintext {
font-size:22px;
}
}
 @media (max-width: 760px) {
.container {
padding:0 15px
}
 .headerdetails .topcall {
display:none
}
 .headerstrip {
text-align:center;
}
 .headerstrip #topnav {
background:#F25C27;
padding-bottom:10px
}
 .headerstrip .pull-left {
float:none;
}
 .top-search {
margin-top:-5px
}
 #topnav {
width:auto;
text-align:center
}
 #topnav ul {
text-align:center;
margin:0 auto;
float:none
}
 #topnav ul li {
display:inline-block;
float:none
}
 .headerstrip .pull-right .search-query {
margin-top:0px
}
.footerlinks {
text-align:center
}
.footerlinks .info, #footersocial {
float:none;
margin:10px 0
}
.footerlinks {
padding:10px 0
}
.copyrightbottom {
text-align:center
}
.copyrightbottom .textright {
text-align:center
}
.otherddetails .otherddetailspart {
width:100%;
background:none;
border-bottom:1px solid #ddd
}
#newslettersignup input[type=submit] {
height:32px
}
.the-icons li {
display:block;
width:90%;
padding:10px 0
}
.smbanner .col-lg-3 a {
margin:10px 0
}
.heading1 .subtext {
display:none
}
.productdesc #myTab.nav-tabs li a {
padding:8px
}
th.image, th.model, td.image, td.model {
display:none!important
}
.cart-info td, .cart-info th {
padding:5px
}
}
 @media only screen and (max-width: 480px) {
 .inlinelables, .badges, .description {
display:none
}
 .modify {
text-indent:-9999px;
overflow:hidden
}
}
/* ------------ bootstrap overwrite ------------ */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: rgba(242, 92, 39, 0.6); outline: 0; outline: thin dotted \9; /* IE6-9 */ -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 92, 39, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 92, 39, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 92, 39, 0.6); }
input.search-query, .btn, .label, .badge, .nav-pills > li > a { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.dropdown-menu li > a { color:#96979d }
.dropdown-menu:before { position: absolute; top: -7px; left: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid #E7E7E7; border-left: 7px solid transparent; border-bottom-color: rgba(0, 0, 0, 0.2); content: ''; }
.dropdown-menu:after { position: absolute; top: -6px; left: 10px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid #ffffff; border-left: 6px solid transparent; content: ''; }
.nav > li > a:hover { background-color:transparent; }
.nav .dropdown-toggle .caret { border-bottom-color: #f25c27; border-top-color: #f25c27; margin-top: 10px; }
.dropdown-menu li > a { padding:5px 20px }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a { color: #ffffff; text-decoration: none; background: #F25C27; }
.dropdown-menu .active > a, .dropdown-menu .active > a:hover { color: #333333; text-decoration: none; background: #F25C27; outline: 0; }
.btn { padding: 6px 12px; }
.btn-orange { color: #ffffff; text-shadow: none; background: #F25C27; *background: #F25C27;
box-shadow :none; }
.btn-orange:hover, .btn-orange:active, .btn-orange.active, .btn-orange.disabled, .btn-orange[disabled] { color: #ffffff; background-color: #d8420e; *background-color: #d8420e;
}
.btn-orange:active, .btn-orange.active { background-color: #d8420e \9; }
.label-orange, .badge-orange { background-color: #F25C27; }
.label-orange[href], .badge-orange[href] { background-color: #F25C27; }
.dropdown-menu { top:97% }
.nav-tabs > li > a, .nav-pills > li > a { margin:2px 5px 2px 6px }
.thumbnail { position:relative; padding:0px; border:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none }
table th { color:#333 }
.nav li.dropdown.open a:hover .caret { border-top-color: #F25C27!important; border-bottom-color: #F25C27!important; opacity: 1; filter: alpha(opacity=100); }
 @media only screen and (min-width: 480px) and (max-width: 767px) {
 .container {
 width: 420px;
}
 .thumbnail .offer, .thumbnail .sale, .thumbnail .new {
left:70px
}
 #topnav ul li a {
 font-size: 11px;
 margin-right: 5px;
}
.headerstrip #topnav {
margin-bottom:0px
}
}
.footersocial .col-lg-3 { overflow:hidden }
/*Bootstrap update*/

.navbar { background:none }
#topnav ul li { float:left }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { color: #555555; display: inline-block; font-size: 14px; height: 24px; line-height: 20px; vertical-align: middle; padding:4px 6px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; border-radius : 4px 4px 4px 4px; -moz-border-radius : 4px 4px 4px 4px; -webkit-border-radius : 4px 4px 4px 4px; margin-bottom:10px }
.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append { display:inline-block; margin-bottom: 0; vertical-align: middle; }
.nav .dropdown-toggle .caret { margin-top:0px }
.nav-pills > li > a, .nav > li > a { padding:8px 12px }
.headerdetails ul.nav.language li.dropdown { padding:0px }
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after { content: ""; display: table; line-height: 0; }
.nav-tabs:after, .nav-pills:after { clear: both; }
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after { content: ""; display: table; line-height: 0; }
ul.categorymenu { padding:0px }
#featured .thumbnails li .thumbnail, #latest .thumbnails li .thumbnail, #related .thumbnails li .thumbnail, #category .thumbnails li .thumbnail, .thumbnails.list li .thumbnail { overflow: hidden; }
.thumbnail { border: medium none; box-shadow: none; padding: 0; position: relative; }
.thumbnail { border-radius: 4px 4px 4px 4px; display: block; line-height: 20px; transition: all 0.2s ease-in-out 0s; }
.thumbnails:before, .thumbnails:after { content: ""; display: table; line-height: 0; }
.thumbnails:after { clear: both; }
.thumbnails:before, .thumbnails:after { content: ""; display: table; line-height: 0; }
.thumbnails { margin:0px; padding:0px }
.smbanner .col-lg-3 a {  width:90%; float:left; margin:0 5px }
ul.categorymenu > li > div > ul > li > div { min-width:200px }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { line-height:20px; padding:4px 6px }
.input-xlarge { width:270px }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: #FFFFFF; border: 1px solid #CCCCCC; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu, .input-append .popover, .input-prepend .popover { font-size:14px }
.input-append, .input-prepend { font-size:0 }
ul.thumbnails div.thumbnail { width:270px }
.btn, .pricetag, #carouseindex4 ul.slides li, .productpageprice, .productdesc #myTab.nav-tabs li a, .control-group, ul.categorymenu > li > div  { -webkit-box-sizing: content-box; box-sizing: content-box; -moz-box-sizing: content-box; }
#cloud-zoom-big { margin:5px }
.mainimage li.producthtumb { margin:10px }

select { background-color: #FFFFFF; border: 1px solid #CCCCCC; }
.control-group { display:block; margin-bottom:10px; clear:both; }
label { display: block; margin-bottom: 5px; font-weight:normal }
.controls { display:block }
.breadcrumb > li + li:before { content:''; padding:0px }
#categorygrid ul.thumbnails div.thumbnail { width:auto }
.form-horizontal .control-label { float: left; padding-top: 5px; text-align: right; width: 160px; }
input, textarea, .uneditable-input { width:206px }
.form-horizontal .controls { margin-left: 180px; }
textarea { height: auto; }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { width: auto; }
input[type="radio"], input[type="checkbox"] { line-height: normal; margin: 4px 0 0; }
.bloggrid .col-lg-4 { margin-bottom:20px }
#portfoliocontainer .thumbnail { width:270px }
.form-horizontal .form-actions { padding-left: 180px; }
img {max-width:100%; height:auto}
.footerlinks ul li {float:left}
#newslettersignup input[type=text] {
    width: 156px;
}

 @media only screen and (max-width:1190px) {
ul.thumbnails div.thumbnail {width:auto}
.topcart  .nav-pills > li > a, .topcart .nav > li > a {
    padding: 2px 12px;
}
.thumbnails.list .productdiscrption {text-align:left}
.thumbnails.list .thumbnail a.productcart {float:left; margin-left:15px}
.thumbnails.list .price{text-align:left; float:left; margin-left:20px; width:auto; margin-top:0px}
 }
  @media only screen and (max-width:979px) {
.headerstrip {padding-bottom:10px}
ul.language  {margin-bottom:20px}
#product .col-lg-5 {margin-left:20px}
.heading2 {clear:both}
.heading1, .heading2 {margin:40px 0 10px 0}
.footerlinks ul li {float:none}
  }
   @media only screen and (max-width:700px) {
 input, textarea, select, .uneditable-input {width:75%}
 .form-horizontal .control-label {text-align:left}
 .form-horizontal .controls {margin:0px}
  
   }
  @media only screen and (max-width:479px) {
  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {padding:0px 8px}
  nav.subnav select {width:95%}
  